<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="provider.mapper.OrderMapper">

    <insert id="insert" parameterType="common.entity.Order">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select last_insert_id()
        </selectKey>
        insert into health.t_order
            (member_id, orderDate, orderType, orderStatus, setmeal_id)
        values
            (#{memberId}, #{orderDate,jdbcType=DATE}, #{orderType}, #{orderStatus}, #{setmealId})
    </insert>

    <select id="findCountByCondition" parameterType="common.entity.Order" resultType="java.lang.Long">
        select count(*) from health.t_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="memberId != null">
                and member_id = #{memberId}
            </if>
            <if test="orderDate != null">
                and orderDate = #{orderDate,jdbcType=DATE}
            </if>
            <if test="orderType != null">
                and orderType = #{orderType}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
        </where>
    </select>

    <resultMap id="baseResultMap" type="common.entity.Order">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="orderDate" property="orderDate"/>
        <result column="orderType" property="orderType"/>
        <result column="orderStatus" property="orderStatus"/>
        <result column="setmeal_id" property="setmealId"/>
    </resultMap>
    <select id="findByCondition" parameterType="common.entity.Order" resultMap="baseResultMap">
        select * from health.t_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="memberId != null">
                and member_id = #{memberId}
            </if>
            <if test="orderDate != null">
                and orderDate = #{orderDate,jdbcType=DATE}
            </if>
            <if test="orderType != null">
                and orderType = #{orderType}
            </if>
            <if test="orderStatus != null">
                and orderStatus = #{orderStatus}
            </if>
            <if test="setmealId != null">
                and setmeal_id = #{setmealId}
            </if>
        </where>
    </select>
    <select id="findById4Detail" parameterType="java.lang.Integer" resultType="java.util.Map">
        select
               m.name as 'member',
               s.name as 'setmeal',
               o.orderDate as 'orderDate',
               o.orderType as 'orderType'
        from
            health.t_order o,
            health.t_member m,
            health.t_setmeal s
        where
              o.member_id = m.id
          and o.setmeal_id = s.id
          and o.id = #{orderId}
    </select>

</mapper>